
body {
  text-align: center;
}

#wrapper{
  width:600px;
  display: inline-block;
  text-align: left;
  margin:auto;
}
h1
{
    text-align:center;
}
#inputText
{
    width:167px;
}
button
{
    width:80px;
    margin-left:10px;
}
#todo-list {
  list-style: none;
}
#otherButton
{
    padding-top:15px;
}
    #otherButton > button:first-child
    {
        margin-left:0;
    }
.hidden {
  display: none;
}
