<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
            </hgroup>
            <p>
                This is a team project JavaScript single page application (SPA) for a car rent with administration part.
                It's for JavaScrypt Frameworks course.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Technologies used:</h3>
        <p>
            C#, .NET framework, ASP.NET WebAPI, RESTful web services, 
           MS SQL Server, HTML5, CSS3, JavaScript, jQuery, MVVM architecture using KendoUI framework,
           MVC architecture using AngularJS
        </p>
        <p>
            <a class="btn btn-primary" href="~/UserIndex.html">User Area</a>
            <a class="btn btn-primary" href="~/AdminIndex.html">Admin Area</a>
        </p>
    </section>
</div>

@section  scripts {
    <script src="~/Scripts/bootstrap.min.js"></script>
}