USE [master]
GO
/****** Object:  Database [VisitsCounter]    Script Date: 15.9.2013 г. 17:43:43 ******/
CREATE DATABASE [VisitsCounter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VisitsCounter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\VisitsCounter.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VisitsCounter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\VisitsCounter_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VisitsCounter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VisitsCounter]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 15.9.2013 г. 17:43:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[Id] [nchar](6) NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Visits] ([Id], [Value]) VALUES (N'COUNTS', 5)
ALTER TABLE [dbo].[Visits] ADD  CONSTRAINT [DF_Visits_Value]  DEFAULT ((0)) FOR [Value]
GO
USE [master]
GO
